:root{
  --base-font: 1rem;
}
.grid{
  display: grid;
  grid-template-areas: 
    "disp disp disp disp"
    "ac a a a"
    "b b b b"
    "c c c c"
    "d d d d"
    "zer zer dec eq";
  width: 70vw;
  margin: 5vw auto;
  height: 70vh;
  background-color: black;
  box-shadow: 0 0 10px;
  border: 1px solid black;
  grid-template-rows: 20% 1fr 1fr 1fr 1fr 1fr;
}
button{
 border: 1px solid hsl(0,0%,80%);
 font-size: calc(var(--base-font) * 1.2);
}
button[data-type="op"]{
  background-color: hsl(30,70%,50%);
}
button[data-val = "ac"]{
  grid-area: ac;
}
button[data-val = "0"]{
  grid-area: zer;
}
button[data-val = "."]{
  grid-area: dec;
}
button[data-val = "="]{
  grid-area: eq;
  background-color: hsl(100,40%,70%);
}
button:hover{
  opacity: .8;
  border-color: hsl(0,0%,60%);
}
button:active{
  opacity: .6;
}
#display{
  position: relative;
  grid-area: disp;
  text-align: right;
  background-color: hsl(0,0%,70%);
}
#disp-bottom, #disp-top{
  position: absolute;
  bottom: 0;
  right: 5px;
  font-size: calc(var(--base-font) * 1.5);
  padding: 10px;
}
#disp-top{
  top: 5px;
}

